aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
distlib
distro
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
docstring_parser
drf-yasg
filelock
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
inflection
intel-openmp
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mkl
mpmath
multidict
networkx
numpy
packaging
pandas
pillow
platformdirs
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rest-framework-simplejwt
rich
rpds-py
rsa
setuptools
shapely
six
smmap
sniffio
sqlparse
sympy
tbb
tenacity
toml
toolz
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
vertexai
virtualenv
watchdog
yarl
